In [1]:
import spacy

from spacy.lang.en.stop_words import STOP_WORDS

len(STOP_WORDS)

326

In [2]:
nlp = spacy.load("en_core_web_sm")

doc = nlp("We just start our journey, first place will be Barcelona")

for token in doc:
    if token.is_stop:
        print(token)

We
just
our
first
will
be

In [15]:
def preprocess(text):
    doc = nlp(text)
    
    no_stop_words = [token.text for token in doc if not token.is_stop and not token.is_punct]
    return " ".join(no_stop_words) # Now i get string instead of list

In [16]:
preprocess("We just start our journey, first place will be Barcelona")

'start journey place Barcelona'

In [17]:
preprocess("The city that We love the most is Berlin, because it have a lot of green places")

'city love Berlin lot green places'

In [7]:
import pandas as pd 

df = pd.read_json("doj_press.json", lines = True)

df.shape

(13087, 6)

In [8]:
df.head(5)

,id,title,contents,date,topics,components
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,[],[National Security Division (NSD)]
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,[],[Environment and Natural Resources Division]
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,[],[Environment and Natural Resources Division]
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,[],[Environment and Natural Resources Division]
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]

In [10]:
df = df[df['topics'].str.len()!=0] # Its condition if len is not a zero, so it contain something i get it
df.head(5)

,id,title,contents,date,topics,components
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division]
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorney’s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U..."
22,15-1562,21st Century Oncology to Pay $19.75 Million to...,"21st Century Oncology LLC, has agreed to pay $...",2015-12-18T00:00:00-05:00,"[False Claims Act, Health Care Fraud]",[Civil Division]
23,17-1404,21st Century Oncology to Pay $26 Million to Se...,21st Century Oncology Inc. and certain of its ...,2017-12-12T00:00:00-05:00,"[Health Care Fraud, False Claims Act]","[Civil Division, USAO - Florida, Middle]"

In [11]:
df.shape

(4688, 6)

In [12]:
df = df.head(100) # Im gonna do preprocessing on small dataset
df.shape

(100, 6)

In [14]:
len(df['contents'].iloc[4]) # i lock this big paragraph to remove all stop words from it

5504

In [20]:
df['contents_new'] = df['contents'].apply(preprocess)
df.head(5)

,id,title,contents,date,topics,components,contents_new
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division],U.S. Department Justice U.S. Environmental Pro...
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division],131 count criminal indictment unsealed today B...
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorney’s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U...",United States Attorney Office Middle District ...
22,15-1562,21st Century Oncology to Pay $19.75 Million to...,"21st Century Oncology LLC, has agreed to pay $...",2015-12-18T00:00:00-05:00,"[False Claims Act, Health Care Fraud]",[Civil Division],21st Century Oncology LLC agreed pay $ 19.75 m...
23,17-1404,21st Century Oncology to Pay $26 Million to Se...,21st Century Oncology Inc. and certain of its ...,2017-12-12T00:00:00-05:00,"[Health Care Fraud, False Claims Act]","[Civil Division, USAO - Florida, Middle]",21st Century Oncology Inc. certain subsidiarie...

In [21]:
len(df['contents'].iloc[4])

5504

In [22]:
len(df['contents_new'].iloc[4])

4217

In [23]:
text = '''The Ministry of Land, Infrastructure, Transport and Tourism (MLIT), Japan, and the Texas Economic Development Corporation (TxEDC) are happy to announce that the Japan-Texas Infrastructure Investment Forum will be held in Austin, Texas.  

The cooperative relationship between Texas and Japan is becoming ever stronger since the bilateral meeting between Governor Abbott and Minister Akaba of MLIT in Tokyo in September 2019. Texas has also been attracting many Japanese companies with its rapid economic growth. 

Government officials from Japan, as well as Japanese companies, will attend and highlight their expertise and experiences in the infrastructure field and smart city projects, while speakers from Texas will introduce the public-private partnerships (PPP) and Smart City programs as well as initiatives in Texas at the forum.  Japanese companies engaged in these areas will highlight their expertise and experience. 

There will also be networking opportunities to promote infrastructure-related collaborations between organizations in Japan and Texas. '''

In [27]:
doc = nlp(text)

stop_words_count = 0
total_words_count = 0

for token in doc:
    if token.is_stop:
        stop_words_count += 1
    total_words_count += 1
        
print(f"Total Stop Words presented in text : {stop_words_count}")

percentage_stop_words = (stop_words_count / total_words_count) * 100

print(f"Percentage of Stop Words in text : {percentage_stop_words} %")

Total Stop Words presented in text : 66
Percentage of Stop Words in text : 36.666666666666664 %

In [33]:
def preprocess(text):
    doc = nlp(text)
    no_stop_words = [token.text for token in doc if not token.is_stop]
    return " ".join(no_stop_words)

nlp.vocab['not'].is_stop = False

positive_text = preprocess("This restaurant was good")
negative_text = preprocess("This restaurant was not as good as we thought")

print(F"Text1 : {positive_text}")
print(f"Text2 : {negative_text}")

Text1 : restaurant good
Text2 : restaurant not good thought

In [43]:
text = '''Starting with the Toronto Raptors’ 2019 title, annual bragging rights have gone to the Lakers in the Orlando bubble in 2020, the Bucks in 2021, the Warriors last year and either the Nuggets or the Heat this time. If you rewind a bit further, the NBA is assured to have its seventh different champion in 10 years and, if Denver prevails, its eighth in 11.

This is a dramatic departure from much of the league’s history. Overall, a full 69% of the NBA’s championships – 52 of them – have been won by just five franchises: Boston 17, L.A. Lakers 17, Golden State 7, Chicago 6 and San Antonio 5. Add the Pistons, the Sixers and the Heat with three each and it’s up to eight teams with 61 titles (81%).

Houston, New York and Milwaukee each has won twice, with eight more enjoying a lone title. Eleven NBA teams never have ended their seasons wet-vacuuming champagne out of their locker room rugs.

Right about now, you should be hearing echoes of NBA commissioner Adam Silver’s voice – “competitive balance”'''

In [44]:
doc = nlp(text)

remaining_tokens = []

for token in doc:
    if token.is_stop or token.is_punct:
        continue
    remaining_tokens.append(token.text)
    
frequency_tokens = {}

for token in remaining_tokens:
    if token != '\n' and token != ' ':
        if token not in frequency_tokens:
            frequency_tokens[token] = 1
        else:
            frequency_tokens[token] += 1
            
max_freq_word = max(frequency_tokens.keys(), key = (lambda key : frequency_tokens[key]))

print(f"Max frequency word : {max_freq_word}")

Max frequency word : NBA